#control(onclick=`stools.controlShow()`)
   //- #control-close.i.icon.fa-solid.fa-circle-xmark.click(onclick=`stools.controlShow()`)
   #control-page(onclick=`event.stopPropagation()`)
      include ./music.pug