- const meting_api = "https://api-meting.imsyy.top/api?server=:server&type=:type&id=:id&auth=:auth&r=:r"
#music-player.card
    meting-js#7452421335(api=meting_api server="netease" type="playlist" mutex="true" preload="none" theme="var(--imsyy-main-theme)" data-lrctype="0" order="random")

script.
    const playerDom = document.querySelector("#music-player meting-js");