#right-menu
  .top
    .item.fa-solid.fa-angle-left(onclick="window.history.back()")
    .item.fa-solid.fa-angle-right(onclick="window.history.forward()")
    .item.fa-solid.fa-rotate-right(onclick="pjax.reload()")
    .item.fa-solid.fa-house(onclick="pjax.loadUrl('/')")
  .line
  .bottom#right-menu-main
  .line
  .music
